<ion-view>
    <ion-nav-title>
        {{pub.name}}
    </ion-nav-title>
    <ion-content>

        <div class="card">

            <div class="item">
                <h2>{{pub.name}}</h2>

            </div>

        </div>

        <div class="card">
            <div class="item">
                <h2>Google place id: {{pub.placeId}}</h2>
                <h2>Longitude: {{pub.lon}}</h2>
                <h2>Latitude: {{pub.lat}}</h2>
            </div>
        </div>


        <div class="card">
            <button style="margin-top: 0" class="item button button-full button-assertive">Verwijder deze kroeg</button>
        </div>





    </ion-content>
</ion-view>
