<ion-view view-title="Races" >
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-plus-circled" href="#/app/races/newrace">
    </a>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <a ng-repeat="race in races" class="item card" href="#/app/races/{{race._id}}">

        <div class="item">
          <h2>{{race.name}}</h2>
          <p>{{race.description}}</p>
          <p>{{race.statusDesc}}</p>
        </div>
        <div class="item">

          <h2>Kroegen ({{race.pubs.length}})</h2>
          <p ng-repeat="pub in race.pubs">{{pub.name}}<p>

          <br>

          <h2>Teams ({{race.teams.length}})</h2>
          <p ng-repeat="team in race.teams">{{team.name}}<p>

        </div>

      </a>
    </ion-list>


    <ion-infinite-scroll
            immediate-check="false"
            ng-if="isMoreRaces()"
            on-infinite="loadMoreRaces()"
            distance="1%">
    </ion-infinite-scroll>




  </ion-content>
</ion-view>
