<ion-view view-title="Race details">
    <ion-content>

        <div class="card">

            <div class="item">
                <h2>{{race.name}}</h2>
                <p>{{race.description}}</p>
                <p>{{race.statusDesc}}</p>
                <p>{{race.starttime | date:'dd-MM-yyyy HH:MM'}}</p>
            </div>

        </div>

        <div class="card">
            <div class="item">
                <h2 style="margin-bottom: 10px">Kroegen ({{race.pubs.length}})</h2>
                <a href="#/app/pub/{{pub._id}}" class="item" ng-repeat="pub in race.pubs">
                    <h2>{{pub.name}}</h2>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="item">
                <h2 style="margin-bottom: 10px">Teams ({{race.teams.length}})</h2>

                <a href="#/app/team/{{team._id}}" class="item" ng-repeat="team in race.teams">
                    <h2>{{team.name}}</h2>
                    <p ng-repeat="user in team.users">{{user.local.username}}</p>
                </a>
            </div>
            <div class="item item-input item-stacked-label">
                <div class="item item-input-inset">
                    <input ng-model="race.newTeamName" type="text" placeholder="Teamnaam">
                    <button ng-click="addTeam()" class="button button-small icon-left ion-plus button-outline button-energized">
                        Nieuw team
                    </button>
                </div>
            </div>

        </div>

        <div class="card">
            <button ng-click="deleteRace()" style="margin-top: 0" class="item button button-full button-assertive">Verwijder deze race</button>
        </div>





    </ion-content>
</ion-view>
